.content {
    font-size: 40px;
    padding-bottom: 300px;
    color: blueviolet;
    position: relative;
    left: 10%;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    /* display: none; */
    /*visibility: hidden;*/
}

.content:hover {
    color: black;
}

a:hover {
    color: white;
    transition: color 1s ease-in-out;
}

#hello {
    background-color: rgb(171, 202, 255);
}

#bye {
    background-color: aquamarine;
}

body {
    background-color:rgb(255, 227, 246);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#title{
    font-family: 'Pacifico', cursive;
    background-color: rgb(255, 253, 145);
    width: 500px;
    text-align: center;
    /* height: 200px; */
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-bottom: 300px; */
    position: fixed;
    left: 60%;
}
span{
  font-weight: 500;
}

#canvasContainer{
    position:fixed;
    left:60%;
    top:240px;

}

html,body{
    margin:0;
    padding:0;
}
